<template>
  <div class="board">
    <div v-for="(n, i) in 3">
      <div v-for="(n, j) in 3">
        <cell :value="board.cells[i][j]" @click="performMove(i, j)" />
      </div>
    </div>

    <div class="game-over-text" v-if="gameOver">{{ gameOverText }}</div>
  </div>
</template>

<script>
import Board from "./Board";

export default {
  data() {
    return {
      gameOver: false,
      gameOverText: "",
      board: new Board()
    };
  },

  methods: {
    performMove(x, y) {
      if (this.gameOver) {
        return;
      }

      if (!this.board.doMove(x, y, "x")) {
        // invalid move
        return;
      }

      this.$forceUpdate();

      if (this.board.isGameOver()) {
        this.gameOver = true;
        this.gameOverText = this.board.playerHas3InARow("x")
          ? "You win!"
          : "Draw";
        return;
      }

      let aiMove = this.minimax(this.board.clone(), "o");
      this.board.doMove(aiMove.move.x, aiMove.move.y, "o");

      if (this.board.isGameOver()) {
        this.gameOver = true;
        this.gameOverText = this.board.playerHas3InARow("o")
          ? "You lose!"
          : "Draw";
      }

      this.$forceUpdate();
    },

    minimax(board, player, depth = 1) {
      // if the board has 3 in a row, return the score of the board
      if (board.isGameOver()) {
        return {
          score: board.calculateScore() + depth,
          move: null
        };
      }

      // the 'o' player want to maximize its score
      let bestScore = player === "o" ? -10000 : 10000;
      let bestMove = null;

      let moves = board.getPossibleMoves();
      for (let i = 0; i < moves.length; ++i) {
        let move = moves[i];
        let newBoard = board.clone();
        newBoard.doMove(move.x, move.y, player);

        // recursively call the minimax function????
        const score = this.minimax(
          newBoard,
          player === "x" ? "o" : "x",
          depth + 1
        ).score;

        // if the score is the best so far, update the best saved score&move
        if (
          (player === "o" && score > bestScore) ||
          (player === "x" && score < bestScore)
        ) {
          bestScore = score;
          bestMove = move;
        }
      }

      return {
        score: bestScore,
        move: bestMove
      };
    }
  }
};
</script>

<style>
.board {
  display: flex;
  flex-wrap: wrap;

  width: 204px;
  height: 204px;
}
</style>