<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>wiki sample webapp</title>
</head>

<body>
    <header>
        <h1>Editing {{.Title}}</h1>
    </header>

    <main>
        <form action="/save/{{.Title}}" method="POST">
            <div>
                <textarea name="body" rows="20" cols="80">{{printf "%s" .Data}}</textarea>
            </div>
            <div>
                <input type="submit" value="Save">
            </div>
        </form>
    </main>

</body>

</html>