<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>wiki sample webapp</title>
</head>

<body>
    <header>
        <h1>{{.Title}}</h1>
    </header>

    <main>
        <p>[<a href="/edit/{{.Title}}">edit</a>]</p>

        <div>{{.Body}}</div>
    </main>

</body>

</html>