/* #################
   example 1
   ################# */

.flex-container {
    display: flex;
}

.flex-container>div {
    border: 2px solid #888888;
    line-height: 5rem;
    vertical-align: middle;
    text-align: center;
    width: 5rem;
    margin: 1rem;
}

.ex1 .flex-container>div:nth-child(1) {
    background-color: #c25d22;
}

.ex1 .flex-container>div:nth-child(2) {
    background-color: #880794;
}

.ex1 .flex-container>div:nth-child(3) {
    background-color: #035e12;
}

.ex2 .flex-container>div:nth-child(odd), .ex3 .flex-container>div:nth-child(odd) {
    background-color: #c25d22;
}

.ex2 .flex-container>div:nth-child(even), .ex3 .flex-container>div:nth-child(even) {
    background-color: #035e12;
}

.ex4 .flex-container {
    min-height: 10rem;
    border: .2rem dotted #c35a02;
    margin-bottom: 1rem;
}

.perfectly-centered {
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.perfectly-centered>div {
    line-height: 10rem;
    width: 10rem;
}

.ex5 .flex-container {
    border: .2rem dotted #c35a02;
    margin-bottom: 1rem;
    width: 20rem;
    height: 20rem;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ex7 .flex-container {
    border: .2rem dotted #c35a02;
    margin-bottom: 1rem;
    max-width: 25rem;
}

.ex7 .flex-container>div {
    width: 8rem;
}

.ex7 {
    overflow: hidden;
}