/* #################
   example 1
   ################# */

.ex1 .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: .5rem;
    /* grid-row-gap: .5rem; */
    /* grid-column-gap: 1rem; */
    padding: 1.5rem;
    margin: 1rem auto;
    border: 2px solid #000000;
}

.ex1 .grid-item {
    border: 2px solid #888888;
    min-height: 5rem;
    vertical-align: middle;
    line-height: 5rem;
    text-align: center;
}

/* #################
   example 2
   ################# */

.ex2 .grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr 2fr 1fr;
    min-height: 90vh;
}

@media (max-width: 740px) {
    .ex2 .grid-container {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 2fr .5fr .5fr;
    }
    .ex2 .head {
        grid-column: 1;
    }
    .ex2 .cont {
        grid-column: 1;
    }
    .ex2 .side {
        grid-column: 1;
    }
    .ex2 .foot {
        grid-column: 1;
    }
}

.ex2 .grid-item {
    text-align: center;
    vertical-align: middle;
    line-height: 5rem;
}

.ex2 .head {
    background-color: #d66f0e;
    grid-column: 1/5;
}

.ex2 .cont {
    background-color: #559c12;
    grid-column: 1/4;
}

.ex2 .side {
    background-color: #97098b;
}

.ex2 .foot {
    background-color: #1c1e97;
    grid-column: 1/5;
}

/* #################
   333
   ################# */

.ex3 .grid-container {
    display: grid;
    grid-template-columns: 5rem 2fr 1fr;
    grid-gap: .5rem;
}

.ex3 .grid-item {
    border: .1rem dashed #d66f0e;
    text-align: center;
    padding: .25rem;
}