body {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    color: #dddddd;
}

::-webkit-scrollbar {
    display: none;
}

.page {
    display: block;
    width: 100%;
    min-height: 100vh;
}

.page:nth-child(even) {
    background-color: #5f5f5f;
}

.page:nth-child(odd) {
    background-color: #747474;
}

.container {
    padding: 1em;
}

.heading, .note {
    font-size: larger;
    margin-bottom: .5rem;
    padding-bottom: .2rem;
}

.heading {
    font-weight: bold;
    border-bottom: 2px solid #b5b5b5;
}

.note {
    font-style: italic;
    padding-left: 1rem;
}

.note::before {
    content: ">";
    margin-right: .5rem;
}